{% load static %}
<!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for i in checked_testimonials %}
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">{{ i.first_name }}</h5>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">{{ i.testimonial }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Testimonial End -->